
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<footer class="bg-dark">

<div class="text-white">
    <p> Aperture9 by Daniel Orchard </p>
    <p> Copyright © 2019 </p>
    <p> Background generated via my <a href="https://www.unrealengine.com/marketplace/en-US/slug/05e7a0e674824987abbd98905aab2cfd"> HexGrids </a> UE4 Plugin </p>
</div>

<hr class="bg-primary" width="30%">

<div class="socialIcons">
    <a href="https://twitter.com/DanielOrchard_0" target="_blank" class="fa fa-twitter nav-link"></a>
    <a href="https://www.linkedin.com/in/daniel-orchard-2b156a47/" target="_blank" class="fa fa-linkedin nav-link"></a>
    <a href="https://www.youtube.com/channel/UCS2TVpXnyiErYo_m6MDMxSQ" target="_blank" class="fa fa-youtube nav-link"></a>
    <a href="https://github.com/DanielOrchard" target="_blank" class="fa fa-github nav-link"></a>
</div>

</footer>

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
